@font-face { 
        font-family: Apercu;
        src: url("fonts/ApercuMonoProBold.ttf");
    }
      body {
      font-family: Times; serif
      color: black;
      font-size: 1.5em;
      padding-left:60px;
      margin-right: 30vw;
      margin-top:5vw;
      text-align: left;
      background-color: #FFC4FF;
    }
  a {
      color: black;
    }
    a:hover{
      color: white;
    }
.header {
  text-align: left;
  color: black;
  font-size: 2em;
  font-family: Apercu;
  padding-top: 2em;
  padding-bottom:1em;
}
.column {
  float: left;
  width: 30%;
  padding:.5em;
}
.row {
  padding-bottom:6em;
}
h3 {
  letter-spacing: 1px;
  font-size:1em;
  font-family: Apercu;
  color: black;
  line-height:1.25em;
}
h4 {
  letter-spacing: 1px;
  font-family: Apercu;
  font-size: .75em;
  color: black;
  line-height:1.25em;
}
.typo:after {
  content:"TYPOGRAPHY";
}
.typo:hover:after {
  content: "#&%*@_?x*#";
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .about {
    bottom: 20px;
    width: 100%;
  }