@font-face {
      font-family: Selavy; 
      src: url("Selavy.otf");
    }

body {
  font-family: Selavy; Helvetica;
      font-size: 3em;
      text-align: center;
      color: black;
      background-image: url("background.jpg"); 
      background-size: 700px;
      background-position: center top;
      background-repeat: no-repeat; 
      background-color: lightpink;
    }

p {
  display: block;
  margin-top: 150px;
  margin-bottom: 100px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

}

@media screen and (max-width: 600px) {
  body {
    width: 90vw;
  }