@font-face {
      font-family: Selavy; 
      src: url("Selavy.otf");
    }

@font-face {
      font-family: Cinetype; 
      src: url("GT-Cinetype-Mono.otf");
    }

body {
  font-family: Cinetype; Helvetica;
      font-size: 15vw;
      text-align: center;
      color: black;
      background-image: url("background.jpg"); 
      background-size: 700px;
      background-position: center top;
      background-repeat: no-repeat; 
      background-color: orangered;
    }

p {
  display: block;
  margin-top: 130px;
  margin-bottom: 100px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (min-width: 600px) {
  body {
    background-size: cover;
  }