@font-face {
      font-family: Grotesk; 
      src: url("fonts/AkzidenzGroteskLight.ttf");
    }
      @font-face { 
        font-family: Apercu;
        src: url("fonts/ApercuMonoProBold.ttf");
    }
    body {
      text-align: center;
      line-height: 1.25;
      font-size: 150%;
      font-family: Helvetica, sans-serif;
      padding: 10vw;
      margin-top: 10vw;
      color: white;
      background-color: black;
    } 
    a {
      color: white;
    }
    a:hover{
      color: orange;
    }
    img {
      height: 300px;
      max-width: 100%;
      display:inline;
    }
   @media (min-width: 600px) {
      .mobile-first .sales-points {
        display: flex;
        justify-content: space-between;
      }
      .mobile-first .sales-point {
        width: 30%;
      }
     }
     @media screen and (min-width: 800px) {
      body {
        margin-top: 10vh;
        padding-top: 5vh;
        padding-left: 15vw;
        padding-right: 15vw;
      }
     }
     